[submodule "AFNetworking"]
	path = AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "ssziparchive"]
	path = ssziparchive
	url = git://github.com/soffes/ssziparchive.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
